html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto; /* Ensure scrolling is enabled */
}

.products {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    gap: 5px; /* Reduced gap between products */
}

.product {
    width: 100%; /* Ensure product takes full width of the container */
    max-width: 450px; /* Optional: maximum width for larger screens */
    height: 350px;
    margin: 0 auto; /* Center the product container */
}

.product img.productImage {
    max-width: 100%; /* Ensure images are responsive */
    height: 100px; /* Maintain aspect ratio */
}

.productTitle, .productInfo, .getAccessBtn {
    margin: 2px 0; /* Reduced spacing */
}

.button {
    background-color: #6a0dad; /* Purple button background */
    width: 100%;
    color: #ffffff; /* White text color */
    padding: 15px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Add border-radius for a softer button appearance */
}

.login-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: #6a0dad; /* Purple button background */
    color: #ffffff; /* White text color */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Add border-radius for a softer button appearance */
    text-decoration: none; /* Remove underline from link */
}
